%% Erlang compilation
{erl_opts, [
            debug_info
           , warnings_as_errors]}.

%% eunit_formatters options
{eunit_opts, [
              no_tty
             , {report, {eunit_progress, [colored, profile]}}
             ]}.

%% erlydtl options
{erlydtl_opts, [
                {doc_root, "templates"}
               , {out_dir, "ebin"}
               , {source_ext, ".html"}
               , {module_ext, "_dtl"}
               ]}.

%% Dependencies, aka the "batteries"
{deps, [
         {webmachine, ".*", {git, "git://github.com/basho/webmachine"}}
       , {epgsql, ".*", {git, "git://github.com/basho/webmachine"}}
       , {poolboy, ".*", {git, "git://github.com/devinus/poolboy"}}
       , {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl"}}
       , {qdate, ".*", {git, "git://github.com/choptastic/qdate"}}
       , {eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters"}}
       , {tools.mk, ".*", {git, "git://github.com/basho/tools.mk"}, [raw]}
       ]}.
